@mixin animateIt{
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}


@mixin button($fontsize, $verticalPadding, $horizontalPadding){
  font-size: $fontsize;
  font-weight: 500 !important;
  padding: $verticalPadding $horizontalPadding;
  color: #b8b8b8;
  border-radius: 10rem;
  text-transform: uppercase;
  border: 2px solid #b8b8b8;
  letter-spacing: 1px;
  @include animateIt;
  &:hover{
    background-color: $button-bg;
    border: 2px solid $button-bg;
    color: $text-color-dark;
  }
}

@mixin absoluteCenter{
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%,-50%);
}

@mixin floatfix{
  &::after{
    display: table;
    clear: both;
  }
}

@mixin textHover($bgcolor, $padding){
  position: relative;
  &::before{
    content: "";
    display: block;
    width: 0;
    height: .15rem;
    background-color: $bgcolor;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%, 0);
    transform: translate(-50%, 0);
    @include animateIt;
  }
  &:hover::before{
    width: calc(100% - #{$padding*2});
  }
}

@mixin line-anim-mixin($path-number, $offset){
  @keyframes line-anim-#{$path-number} {
    0% { stroke-dashoffset: $offset; }
    50% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: $offset; }
  }
}