$text-color-dark: #2c2f31;
$text-color-light: #808283;
$text-color-light2: #4e4e4e;
$text-color-white: #ffffff;

$section-padding: 15rem;

$button-bg: #e5a325;

$border-color: #e7e7e7;

$header-nav-padding: 2.35rem;
